<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.jinshangcheng">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户。(运行在平板上的应用会读取mac地址作为用户的唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取设备的网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取设备的WIFI网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取设备的网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- *************************百度地图所需权限**************************** -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!-- *************************环信所需权限********************** -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 获取统计数据 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 驾图SDK配置 -->
        <meta-data
            android:name="com.cston.app.APP_Id"
            android:value="0b1db9781de1484d9772fdb023d30b7f" />
        <meta-data
            android:name="com.cston.app.APP_SECRET"
            android:value="9bc0515f7699470da1e9b42b706f4a4f" />

        <!-- 百度SDK配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uAcUkjBkRBNQAhAaZ6dEtwH5t1pp9QjW" />

        <!-- 环信SDK配置 -->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1120181128010801#a123" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- Logo页 -->
        <activity
            android:name=".ui.login.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 登陆 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 驾图相关拉起页面 -->
        <activity
            android:name="platform.cston.httplib.activity.KartorAuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="CstOpen0b1db9781de1484d9772fdb023d30b7f"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity android:name="platform.cston.httplib.activity.AuthActivity" />
        <activity android:name="platform.cston.httplib.activity.ReportCarActivity" />
        <activity android:name=".extra.explain.activity.VehicleDynamicsActivity" />
        <activity android:name=".extra.explain.activity.HistoricaltrackActivity" />
        <activity android:name=".extra.explain.activity.TrackDetailActivity" />
        <activity android:name=".extra.explain.activity.CarConditionDetailActivity" />
        <activity android:name=".extra.explain.activity.CarDetectionActivity" />
        <activity android:name=".extra.explain.activity.CarExceptionActivity" />
        <activity
            android:name=".extra.explain.activity.ReportActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".extra.explain.activity.DayEventActivity" />
        <activity android:name=".extra.explain.activity.BreakRulesActivity" />
        <activity android:name=".extra.explain.activity.BreakRulesMapActivity" />
        <activity android:name=".extra.explain.activity.MonEventActivity" />
        <!-- 地址管理 -->
        <activity android:name=".ui.mine.AddressManageActivity" />
        <!-- 新建地址 编辑地址 -->
        <activity
            android:name=".ui.mine.EditAddressActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 隐私管理 -->
        <activity android:name=".ui.mine.PrivacyActivity" />
        <!-- 车辆管理 -->
        <activity android:name=".ui.mine.CarManageActivity" />
        <!-- 选择车辆 -->
        <activity android:name=".ui.mine.SelectCarActivity" />
        <!-- 添加车辆 编辑车辆 车辆信息 -->
        <activity
            android:name=".ui.mine.AddCarActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 添加推荐人 -->
        <activity
            android:name=".ui.login.AddInviterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 绑定盒子 -->
        <activity
            android:name=".ui.login.BindBoxActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 保险信息 -->
        <activity
            android:name=".ui.car.InsuranceActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 保养信息 -->
        <activity
            android:name=".ui.car.MaintenanceActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 年审信息 -->
        <activity
            android:name=".ui.car.AnnualActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 我的人脉 -->
        <activity android:name=".ui.mine.PeopleActivity" />
        <!-- 我的收益 -->
        <activity android:name=".ui.mine.MoneyActivity" />
        <!-- 提现记录 -->
        <activity android:name=".ui.mine.WithDrawActivity" />
        <!-- 申请提现 -->
        <activity
            android:name=".ui.mine.ApplyDrawActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 银行卡列表 -->
        <activity
            android:name=".ui.mine.BankCardActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 添加银行卡 -->
        <activity
            android:name=".ui.mine.NewCardActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 编辑个人信息 -->
        <activity android:name=".ui.mine.EditMineActivity" />
        <!-- 关于我们 -->
        <activity android:name=".ui.mine.AboutUsActivity" />
        <!-- 用车报告 -->
        <activity
            android:name=".ui.car.CarReportActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 商品详情 -->
        <activity android:name=".ui.square.GoodsDetailActivity" />
        <!-- 订单详情 -->
        <activity android:name=".ui.square.OrderDetailActivity" />
        <!-- 我的订单 -->
        <activity android:name=".ui.mine.MyOrderActivity" />
        <!-- 轨迹详情 -->
        <activity android:name=".ui.car.TravelActivity" />
        <!-- 道路救援 -->
        <activity android:name=".ui.car.RoadHelpActivity" />
        <!-- 隐身 -->
        <activity android:name=".ui.mine.StealthManageActivity" />
        <activity android:name=".ui.position.LeadRoadActivity" />
        <!-- 解除绑定 -->
        <activity android:name=".ui.mine.UnbindBoxActivity" />
        <!-- 违章查询 -->
        <activity android:name=".ui.car.ViolationActivity" />
        <!-- 爱车位置 -->
        <activity android:name=".ui.car.CarLocationActivity" />
        <!-- 支付验证 -->
        <activity
            android:name=".ui.square.CheckPaymentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 修改手机号 -->
        <activity
            android:name=".ui.mine.ChangePhoneActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--一键检测-->
        <activity android:name=".ui.car.CarCheckActivity" />
        <!--一键检测详情-->
        <activity android:name=".ui.car.CheckDetailActivity" />
        <!--选择支付方式-->
        <activity android:name=".ui.square.SelectPayTypeActivity" />
        <!--如何获取验证码-->
        <activity android:name=".ui.square.HowToActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <receiver android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


    </application>

</manifest>